@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #454849;
  background-image: url("https://i.redd.it/fxlb9eda42a31.jpg");
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
/* .navbar {
  position: fixed;
} */

main {
  margin-top: 60px;
}

.nav {
  position: fixed;
  top: 0;
  background-color: #7289DA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #5868a3;
  border-radius: 20px;
}
.nav a:hover {
  opacity: .5;
}
.h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}
.container {
  width: 90%;
  margin: auto;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #c5c5c56e;
  border-radius: 20px;
  margin: 20px;
  width: 300px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  text-align: center;
}
.cardtitle {
  margin: 5px 0;
  font-size:1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.carddescription {
  color: #232323;
  font-weight: bold;
}
.cardbtn {
  margin: 20px 0;
  padding: 5px 10px;
  background-color: #7289DA;
  color: white;
  border-radius: 50px;
  text-decoration: none;
}

.footer {
  margin-top: 150px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c5c5c56e;
}
.me {
  width: 40%;
  color: white;
}
.social {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social a {
  color: #232323;
  font-size: 3em;
  transition: transform .5s;
}
.social a:hover {
  color: #7289DA;
  transform: scale(1.5);
}

